{% extends 'blog\base.html' %}
{% load static %}

{% block content %}
<br>
{% for post in post %}
<br>
    <div class="card text-center">
        <div class="card-header">
            {{ post.author }}
        </div>
        <div class="card-body" style="width: auto">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer text-muted" style="height: 40px">
            <small>{{ post.posted_date|date:'F d, Y' }}</small>
        </div>
    </div>
{% endfor %}
{% endblock %}

